/*reset css*/
* {
  margin: 0px;
  padding: 0px;
}
#container {
  font-family: 'monospace', italic;
  color: skyblue;
  display: flex;
}
#container #fname{
  font-size: 12px;
  margin: 20px;
  padding: 20px
  border: 2px yellow;
  
}
#container #eml{
  font-size: 12px;
  margin: 20px;
  padding: 20px
  border: 2px yellow;
}
body {
  font-family: 'monospace', italic;
  background: url("../img/backbhutuu.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}
.btn {
  /*font-family: 'Baloo Bhai', cursive;*/
  font-family: 'monospace', bold;
  margin: 10px 9px;
  background-color: black;
  color: white;
  padding: 2px 10px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(31, 30, 30);
}
